*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    text-align: left;
}
header{
    margin: 20px;
    padding: 50px;
    background: #ccc;
}

#img-caption{
    font-size: 20px;
}
#img{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
body {
    margin-top: 60px;
 }